@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@500&family=Mukta:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

p {
    font-family: 'Mukta', sans-serif;
}

h2,
h1,
h3 {
    font-family: 'Mukta', sans-serif;
}

.main-page-quote{
    font-style: italic;
    padding: 10px;
    text-align: center;
    color: coral;
}

.nav-logo {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    font-size: 3rem;
}

.nav-bar {
    display: flex;
    background-color: white;
    height: auto;
    width: 100%;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    list-style: none;
    padding-top: 3.5rem;
}

.nav-links a {
    padding-right: 2rem;
    text-decoration: none;
    color: black;
}

/* Image Section */
.image-outer {
    height: 800px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.image-main {
    height: 800px;
    width: 100%;
    background: url('../images/Farm.jpeg') no-repeat center center;
    filter: brightness(70%);
}

.image-text {
    font-size: 130%;
    letter-spacing: 4px;
    width: 300px;
    height: 200px;
    background: url('../images/farmpeople-logo.png') no-repeat center center;
    left: 50%;
    transform: translate(-50%, 0);
    top: 35%;
    z-index: 10;
    position: absolute;
}

.image-text h2 {
    top: -20%;
    position: absolute;
    left: 15%;
    color: white;
    width: 100%;
}

.image-text h3 {
    bottom: -20%;
    position: absolute;
    color: white;
    width: 100%;
}

/* Image descriptions section */
.image-descriptions {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.desc-sections {
    display: flex;
    width: 100%;
}

.desc-image{
    height: 300px;
    width: 50%;
    margin: 2rem;
}

#strawberry-image {
    background: url('../images/strawberry.jpeg') no-repeat center center;
    float: right;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

#egg-image {
    background: url('../images/egg.jpeg') no-repeat center center;
    float: right;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

#chicken-image {
    background: url('../images/chicken.jpeg') no-repeat center center;
    float: right;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

#desc-description {
    margin: 2rem;
    width: 50%;
}

.desc-description p{
    padding-top: 150px;
}
/*  Instagram Section */
.insta-section {
    display: flex;
    justify-content: center;
}

/* Footer */
footer {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#social-media ul{
    display: flex;
    flex-direction: row;
}

#social-media{
    flex-grow: 1;
}

.social-networks li{
    padding: 1rem 1rem;
    list-style: none;
}

.social-networks i{
    color: black;
    font-size: 3rem;
}

footer>p {
    padding-right: 20px;
    padding-top: 1rem;
}

/*  About Sections */
.about-sections {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.about-span {
    width: 100%;
    display: flex;
}

.image-container img {
    width: 100%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.image-container {
    max-width: 50%;
    height: 400px;
    padding: 5rem;
}

.about-description {
    width: 50%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 1rem; */
    margin-top: 3rem;
    padding-top: 10rem;
    padding-left: 1rem;
    padding-right: 1rem;

}

/*  Contact Section */
.contact-section {
    clear: left;
    background: url("../images/Farm.jpeg");
    background-size: cover;
    background-position: center;
    height: 900px;
    position: relative;
}

.contact-form{
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 27%;
    margin: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.3);
    width: 40%;
    border-radius: 20px;
    padding: 20px;
    align-items: center;
}

.contact-form label{
    color: white;
    padding-bottom: 1rem;
    padding-top:0.5rem;
}

.contact-form input{
    background-color:rgba(240,255,240, 0.6);
    border-radius: 5px;
}

.contact-form input:nth-child(8){
    background-color: rgba(240,255,240, 0.9) !important;
    padding: 2px;
    margin-top: 20px;
}

.contact-form input:nth-child(8):hover{
    background-color: rgba(240,255,240) !important;
}

.contact-form > h2{
    color: white;
}

.full-rotd-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.full-rotd-container img{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    margin: 20px;
}

#rotd-ingredients{
    font-style: italic;
}

#rotd-method{
    padding: 40px;
}

/* Recipe Cards */
/*  Recipe Section */
#recipe-cards{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
}

#recipe-section-heading{
    width: 100%;
    text-align: center;
}

.recipe-card{
    height: 300px;
    width: 300px;
    margin-left: 20px;
    margin-top: 20px;
    cursor: grab;
}

.recipe-card > div{
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}

.recipe-card > div:hover{
    background-color: rgba(0, 0, 0, 0);
}

.recipe-card h2{
    color: white;
    text-align: center;
    width: 100%;
}

.recipe-card:active h2{
    color:salmon;
}

#recipe-one{
    background-image: url("../images/recipes/pasta-recipe.png");
}

#recipe-two{
    background-image: url("../images/recipes/recipe-2.png");
}

#recipe-three{
    background-image: url("../images/recipes/recipe-3.png");
}

#recipe-four{
    background-image: url("../images/recipes/recipe-4.png");
}

@media only screen and (max-width: 800px) {
    div:nth-of-type(2).about-span {
        flex-direction: column-reverse;
    }

    .about-span {
        flex-direction: column;
    }

    .image-container {
        height: 600px;
        max-width: 100%;
    }

    .about-description {
        width: 100%;
    }

    .nav-bar{
        flex-direction: column;
        padding-bottom: 20px;
    }

    .nav-bar li {
        padding-left: 20px;
    }

    .nav-logo{
        background-image: url("../images/clouds.jpg");
        z-index: 10;
        color: black;
    }

    .contact-form{
        position: absolute;
        display: flex;
        flex-direction: column;
        left: 5%;
        margin: 0;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.3);
        width: 80%;
        border-radius: 20px;
        padding: 20px;
        align-items: center;
    }

    #recipe-cards{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .desc-sections{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .desc-description{
        width: 90%;
        padding: 20px;
    }

    .desc-sections:nth-of-type(2){
        flex-direction: column-reverse;
    }

    .desc-image{
        width: 80%;
    }

    .image-container {
        max-width: 100%;
        height: 300px;
        justify-content: center;
        display: flex;
    }

    .center{
        padding-top: 0;
        padding: 0 1rem;
    }

    .desc-description p{
        padding-top: 0;
    }


}